.ulLeft {
    float: left;
    list-style: none;
    display: flex;
}
.ulRight {
    float: right;
    list-style: none;
    display: flex;
    padding-right: 30px;
}

.iconMenu {
    font-size: 20px;
    color: white
}

.titleMenu {
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.imgNavbar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ant-layout-header {
    padding: 0px;

}
